#example configuration file for the miR-PREFeR pipeline
#lines start with '#' are comments

#miR-PREFeR path, please change to your path to the script folder. 
#Absolute path perfered.
PIPELINE_PATH = /home/leijikai/Dropbox/research/miRNA/miR-PREFeR/

#Genomic sequence file in fasta format. 
FASTA_FILE =  ./TAIR10.chr1.fa

#Small RNA read alignment file in SAM format. The SAM file should contain 
#the SAM header. If N samples are used, then N file names are listed here, 
#separated by comma. please note that before doing alignment, process the 
#reads fasta files using the provided script 'process-reads-fasta.py' to
#collapse and rename the reads. 
ALIGNMENT_FILE = ./cold.chr1.sam, ./pdep.chr1.sam, ./pind.chr1.sam

#GFF file which list all existing annotations on genomic sequences FASTA_FILE.
#If no GFF file is availble, comment this line out or leave the value blank.
#CAUTION: 
GFF_FILE = ./TAIR10.chr1.CDS.gff


#The max length of a miRNA precursor. The default is 300
PRECURSOR_LEN = 300

#The first step of the pipeline is to identify candidate regions of the miRNA
#loci. If READS_DEPTH_CUTOFF = N, then bases that the mapped depth is smaller
#than N is not considered. 
READS_DEPTH_CUTOFF = 20

#Number of processes for this computation. Using more processes speeds up the computation,
#especially if you have a multi-core processor. If you have N cores avalible for the 
#computation, it's better to set this value in the range of N to 2*N.
#If comment out or leave blank, 1 is used. 
NUM_OF_CORE = 4

#Outputfolder. If not specified, use the current working directory.
OUTFOLDER = example-result

#prefix for naming the output files. For portability, please DO NOT contain any 
#spaces and special characters. The prefered includes 'A-Z', 'a-z', '0-9', and 
#underscore '_'.
NAME_PREFIX = TAIR10-example

#Maximum gap length between two contigs to form a candidate region. 
MAX_GAP = 100

